<md-progress-linear md-mode="indeterminate" data-ng-show="showProgress"></md-progress-linear>
<div layout="row" layout-align="center center">
	<div>
	  	<md-card>
		 	<md-card-content>
	   			<h2>{{'login' | translate}}</h2>
			   	<p>{{'temCadastro' | translate}}</p>
			   	<form data-ng-submit="login()">
		   			<md-input-container flex>
          				<label>Login</label>
       					<input data-ng-model="user.login" type="text" required>
        			</md-input-container>
        			<md-input-container flex>
          				<label>Senha</label>
       					<input data-ng-model="user.password" type="password" required>
        			</md-input-container>
        			<div class="md-actions" layout="row" layout-align="end center">
				   		<md-button class="md-raised md-primary">{{'btnLogin' | translate}} <ng-md-icon icon="send" style="fill:white"></ng-md-icon></md-button>
			 		</div>
			   	</form>
		 	</md-card-content>
		</md-card>
  	</div>
  	<div>
  		<md-card>
		 	<md-card-content>
		 		<form data-ng-submit="signup()">
		   			<h2>{{'cadastro' | translate}}</h2>
				   	<p>{{'nTemCadastro' | translate}}</p>
		   			<md-input-container flex>
          				<label>Login</label>
       					<input data-ng-model="user.login" type="text" required>
        			</md-input-container>
        			<md-input-container flex>
          				<label>Senha</label>
       					<input data-ng-model="user.password" type="password" required>
        			</md-input-container>
        			<div class="md-actions" layout="row" layout-align="end center">
				   		<md-button class="md-raised md-accent">{{'btnCadastrar' | translate}} <ng-md-icon icon="save" style="fill:white"></ng-md-icon></md-button>
			 		</div>
			 	</form>
		 	</md-card-content>
		</md-card>
  	</div>
</div>