<md-toolbar data-ng-controller="CoreCtrl">
  	<div class="md-toolbar-tools" data-ng-hide="menu.length">
    	<span>PTO</span>
   		<span flex></span>
   		<md-button href="#/">
     		{{'homeMenu' | translate}}
   		</md-button>
   		<md-button href="#/category">
     		{{'categoriaMenu' | translate}}
   		</md-button>
   		<md-button href="#/enter" data-ng-hide="isLogged" class="md-raised">
     		{{'btnLogin' | translate}}
   		</md-button>
 	</div>
 	
 	<div class="md-toolbar-tools" data-ng-show="menu.length">
    	<span>PTO</span>
   		<span flex></span>
   		<md-button data-ng-repeat="menu in menu" href="{{menu.url}}">
   			{{menu.name | translate}}
   		</md-button>
 	</div>
</md-toolbar>